<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:replace="admin/header::header-fragment"></header>
<body class="hold-transition sidebar-mini">
<style>
    .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height: auto;
        vertical-align: text-top;
        padding-top: 2px;
    }

</style>
<div class="wrapper">
    <!-- 引入页面头header-fragment -->
    <div th:replace="admin/header::header-nav"></div>
    <!-- 引入工具栏sidebar-fragment -->
    <div th:replace="admin/sidebar::sidebar-fragment(${path})"></div>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
            </div><!-- /.container-fluid -->
        </div>
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">用户管理</h3>
                    </div> <!-- /.card-body -->
                    <form method="post" th:action="@{/admin/users/update(user_id=${user.id})}" style="padding: 20px;width: 500px;margin: 0 auto">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputEmail4">用户名称</label>
                                <input type="text" name="username" th:value="${user.username}" class="form-control"
                                       id="inputEmail4">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputPassword4">密码</label>
                                <input type="password" name="password" class="form-control" id="inputPassword4"
                                       th:value="${user.password}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">手机号码</label>
                            <input type="text" class="form-control" name="phone" id="inputAddress" th:value="${user.phone}">
                        </div>
                        <div class="form-group">
                            <div class="col-md-6" style="padding: 7px 0px;">
                                <label>性别</label>
                                <input type="radio" name="sex" value="男">男
                                <input type="radio" name="sex" value="女">女
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputState">状态</label>
                                <select id="inputState" class="form-control" name="status">
                                    <option selected value="1">正常</option>
                                    <option value="0">屏蔽</option>
                                </select>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">提交</button>
                        <a th:href="@{/admin/users}">
                            <button type="button" class="btn btn-link">返回列表</button>
                        </a>
                    </form>
                </div>
            </div><!-- /.container-fluid -->
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- 引入页脚footer-fragment -->
    <div th:replace="admin/footer::footer-fragment"></div>
</div>
<!-- jQuery -->
<script th:src="@{/admin/plugins/jquery/jquery.min.js}"></script>
<!-- jQuery UI 1.11.4 -->
<script th:src="@{/admin/plugins/jQueryUI/jquery-ui.min.js}"></script>
<!-- Bootstrap 4 -->
<script th:src="@{/admin/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/admin/dist/js/adminlte.min.js}"></script>
<!-- jquery App -->
<script th:src="@{/admin/plugins/jqgrid-5.3.0/jquery.jqGrid.min.js}"></script>
<script th:src="@{/admin/plugins/jqgrid-5.3.0/grid.locale-cn.js}"></script>
<!-- sweetalert -->
<script th:src="@{/admin/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:src="@{/admin/dist/js/public.js}"></script>
<!--<script th:src="@{/admin/dist/js/comment.js}"></script>-->
<script>
    const openbtn=document.getElementById('openbtn');
    const closebtn=document.getElementById('closebtn');
    const popup=document.getElementById('popup');
    const overlay=document.getElementById('overlay');
    openbtn.addEventListener('click',function(){
        popup.style.display='block';
        overlay.style.display='block';
    })








</script>
</body>
</html>
